<%- include('../partials/header') %>
<ul>
  <% sneakers.forEach((s) => { %>
    <li>
      <a href="/sneakers/<%= s.id %>">
        <%= s.model %>
        -
        <%= s.name %>
        -
        <%= s.year %>
      </a>
    </li>
  <% }); %>
</ul>
<a href="/sneakers/new">Add New Sneaker</a>
<%- include('../partials/footer') %>
  