<%- include('../partials/header') %>
  <h2><%= sneaker.model %> - <%= sneaker.name %></h2>
  <h3><%= sneaker.year %> - <%= sneaker.color %></h3>
  <img src="<%= sneaker.image %>" alt="<%= sneaker.model %> - <%= sneaker.name %> image">
  <ul>
    <li>
      SKU: <%= sneaker.sku %>
    </li>
    <li>
      Retail Price: <%= sneaker.retail %>
    </li>
    <li>
      <%= sneaker.owned ? 'Currently Owned' : 'Not Owned'%>
    </li>
  </ul>
  <a href="/sneakers/<%= sneaker.id %>/edit">Edit Sneaker</a>
  <form action="/sneakers/<%= sneaker.id%>?_method=DELETE" method="POST">
    <button type="submit">Delete Sneaker</button>
  </form>
<%- include('../partials/footer') %>